name: python-publish-prod

on:
  release:
    types: [published]

jobs:
  publish-prod:
    if: startsWith(github.event.release.target_commitish, 'release-')
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        working-directory: python
    steps:
      - name: check-out-repository
        uses: actions/checkout@v5
      - name: install-uv
        uses: astral-sh/setup-uv@v7
        with:
          working-directory: python
      - name: build-package
        run: uv build
      - name: publish-package
        run: uv publish
